server.host: "0.0.0.0"
{% if ansible_distribution == "CentOS" %}
elasticsearch.hosts: ["http://{{ hostvars['el-centos']['ansible_facts']['default_ipv4']['address'] }}:9200"]
{% else %}
elasticsearch.hosts: ["http://{{ hostvars['el-deb']['ansible_facts']['default_ipv4']['address'] }}:9200"]
{% endif %}
kibana.index: ".kibana"